
{% extends 'base.html' %}
{% block style %}
{% load static %}
{% load event_filter %}
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'css/event_main.css' %}">
{% endblock style %}
{% block title %}동아리 행사 일정{% endblock title %}
{% block content %}
<div class="flex-column box ">
    <div class="calendar">
        <div class="title">
            <h1>월별 행사</h1>
        </div>
        <div class="header">
            <div class="year-month">{{year_month}}</div>
            <a class="registration nav-link" href="{% url 'event:registration' %}">행사 등록하기</a>
            <div class="nav">
                <a class="btn nav-btn" href="{% url 'event:index' 202110%}">&lt;</a>
                <a class="btn nav-btn" href="{% url 'event:index' %}">Today</a>
                <a class="btn nav-btn" href="{% url 'event:index' 202112%}">&gt;</a>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <table class="table table-bordered pc-calendar">
            <thead>
                <tr class="weekend">
                    <th scope="col">일</th>
                    <th scope="col">월</th>
                    <th scope="col">화</th>
                    <th scope="col">수</th>
                    <th scope="col">목</th>
                    <th scope="col">금</th>
                    <th scope="col">토</th>
                </tr>
            </thead>
            <tbody>
                {% for week in month %}
                <tr class="weekend">
                {% for day in week %}
                    <td>
                        <p class="datetext">{{day.date | strf}}</p>
                        <ul class="list-group list-group-flush">
                        {% for event in day.event %}
                            <a class="list-group-item event-li" href="{% url 'event:detail' %}">{{event.title}}</a>
                        {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="flex-column mobile-calendar">
            {% for week in month %}
            {% for day in week %}
                <div class="day">
                    <p class="datetext">{{day.date | strf}}</p>
                    <ul class="list-group list-group-flush">
                    {% for event in day.event %}
                        <li class="list-group-item event-li">
                            {{event.title}}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}