{% extends 'base.html' %}
{% load static %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
{% endblock style %}
{% block title %}{{event.title}}{% endblock title %}
{% block content %}
<div class="flex-column box ">
    <div class="detail">
        <div class="title">
            <h2>{{event.title}}</h2>
        </div>
        <div class="content">
            <pre>{{event.content}}</pre>
        </div>
        <div class="place">
            <pre>장소 : {{event.place}}</pre>
        </div>
    </div>
</div>

{% endblock content %}