{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home_login.css' %}">
{% endblock style %}
{% block title %}로그인{% endblock title %}
{% block content %}
<div class="container my-3">
    <form method="post", class="post-form", action="{% url 'home:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                    value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호 <a style="font-size:.75em;"href="{% url 'home:password_reset' %}">(비밀번호를 잊으셨나요?)</a></label>
            <input type="password" class="form-control" name="password" id="password"
                    value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary">로그인</button>
            {% comment %} <a href="{% url 'home:register' %}" class="button btn btn-primary sign-btn">회원가입</a> {% endcomment %}
        </div>
    </form>
</div>
{% endblock content %}