{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'css/home_main.scss' %}">
{% endcompress %}
{% block style %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/home_main.css' %}">
<link rel="stylesheet" href="{% static 'css/home_main_sub.css' %}">
{% comment %} <style>
    .hwamyeong {
      background-image: url("json/home_pic.json");
    }
</style> {% endcomment %}
<script src={% static 'js/vue.js' %}></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
	var jsonpath = "{% static 'json/home_pic.json' %}";
</script>
<!--해드부분 -->
{% endblock style %}
{% block title %}화명고 동아리 행사{% endblock title %}
{% block content %}
 <!-- 바디부분 -->
 <div class="slideshow">
  <div class="slideshow__container js-home_main_sub">
  	
    <img
      v-for="slide, index in slides"
      :key="slide.id"
      :src="slide.url"
      :alt="slide.title"
      :class="{ active: isActive(index) }"
      @mouseover="stopRotation"
      @mouseout="startRotation"
	  class="slideshow-image"
    />
  </div>
</div>
{% comment %} <div class="hwamyeong" id="top">
	<div class="hwamyeong-image"></div>
	<h1>화명고등학교 사이트 입니다.</h1>
</div> {% endcomment %}
<nav class="hwa-nav">
	<div class="navbar-wrapper">
		<nav>
			<div class="content">
				<ul>
					<li class="action-item"><a href=""><p>P</p></a></li>
					<li class="item"><a href="#동아리"><p>동아리</p></a></li>
					<li class="item"><a href="#기타"><p>기타</p></a></li>
					<li class="item"><a href="#뭐함지"><p>뭐함지</p></a></li>
				</ul>
			</div>
		</nav>
	</div>
</nav>
<section id="동아리">
	<div class="content">
		<h1>동아리</h1>
		<h2>저희 학교에는 여러 동아리들이 존재합니다!</h2>
		<p>대충내용내용</p>
		<p>한 두줄 쓰지 않을까?</p>
	</div>
</section>
<section id="기타">
	<div class="content">
		<h1>기타</h1>
		<h2>여기도 머적지</h2>
		<p>대충 룰루랄라 중</p>
	</div>
</section>
<section id="뭐함지">
	<div class="content">
		<h1>뭐함지</h1>
		<h2>잠온다</h2>
		<p>뿌뿌뿡</p>
		<p>당가다 당당</p>
	</div>
</section>
<script src="{% static 'js/home_main.js' %}"></script>
<script src="{% static 'js/home_main_sub.js' %}"></script>
{% endblock content %}