{% extends 'base.html' %}
{% load static %}
{% block style %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/home_main.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="{% static 'js/home_main.js' %}"></script>
<!--해드부분 -->
{% endblock style %}
{% block title %}화명고 동아리 행사{% endblock title %}
{% block content %}
 <!-- 바디부분 -->
 <div class="main_container">
<!--
<div class="main_title">타이틀</div>
-->

<div style="position:absolute; width:200px; height:200px; top:50px; left:50;">
<img src="C:\Users\user\Documents\GitHub\club-festa\home\static\img\4.png" width:200px height:200px>

<div class="d-flex banner">
  배너
</div>
<div class="d-flex flex-row bd-highlight box">
  <div class="p-2 bd-highlight main_bar">Flex item</div>
  <div class="p-2 bd-highlight main_bar">Flex item</div>
</div>

<div class="main_list">리스트</div>
{% endblock content %}