{% extends 'base.html' %}
{% load static %}
{% load home_filter %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home_user.css' %}">
<style>
    .img {
        background-image: url({% static 'img/background.png' %});
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock style %}
{% block title %}{{myuser.number}} {{myuser.name}}{% endblock title %}
{% block content %}
<div class="">
    <div class="d-flex center flex-column ">
        {% if myuser %}
            <div class="d-flex justify-content-center">
                <div class="userdata">
                    <div class="first d-flex">
                        <div class="name flex-grow-1 justify-content-center">
                            <h2>{{myuser.number}} {{myuser.name}}</h2>
                            <p class="profile_message">{{myuser.profile_message}}</p>
                        </div>
                        <!--
                        <div class="last_date">
                            <p class="last_date">최종수정일 : {{myuser.lastedit}}</p>
                        </div>
                        -->
                    </div>
                    <div class="second">
                        <h4>관심분야</h4>
                        <p class="interested">{{myuser.interested_in}}</p>
                        <h4>상세내용</h4>
                        <div class="description">
                            {{myuser.description|mark}}
                        </div>
                        {% if clubs %}
                        <h4>가입 동아리</h4>
                        <ul>
                            {% for club in clubs %}
                            <li><a class="clublink" href={% url 'club:detail' club.id %}>{{club.name}}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}