.title {
    text-align:center;
}

.filter {
    text-align:center;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    color: #505050;
    font-weight: 700;
}

.filter:hover {
    text-decoration: none;
}

.postlist {
    width: 80%;
    font-size: 1.4vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}

tbody {
    width:100%;
}
tr {
    width: 100%;
    height: fit-content;
}

.table th, .table td {
    padding: 0.2rem;
    text-align:center;
    vertical-align: middle;
}

.id {
    width: 6%;
}
.ptitle {
    max-width: 57%;
}
.ptitle>a {
    width:100%;
    text-align:left;
    color:black;
}
.author {
    width: 8%;
}
.author>a {
    color: black;
}
.category {
    width: 10%;
}
.category>a {
    color: black;
}
.createdate {
    width: 7%;
}
.views {
    width: 6%;
}
.like {
    width: 6%;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .notmobile {
        display:none;
    }
}

.notice>th {
    color: red;
}

.nothing {
    margin: 20px;
}