* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
}

.title {
    text-align:center;
    font-weight: 700;
    font-size: 40px;
}

.main{
    max-width: 750px;
    max-height: 650px;
}

.calendar {
    position: absolute;
    top: 4vh;
    width: 90vw;
    margin: 5vw;
    margin-top: 56px;
    max-width: 750px;
    max-height: 650px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 20px;
}

.nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 10px;
}

.nav-btn {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 60px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 2vw 0 1vw;
}

.day {
    width: calc(100% / 7);
    font-size: 20px;
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 70vw;
    margin: 0em auto;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    max-width: 750px;
    max-height: 600px;
}

.date {
    width: calc(100% / 7);
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #FF5252;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #1565C0;
}

.today {
    position: relative;
    color: #000000;
}
.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #FFE57F;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}

.other {
    opacity: .3;
}
