{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/club_detail.css' %}">
<style>
    .img {
        background-image: url({% static 'img/background.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
</style>
{% endblock style %}
{% block content %}
{% if club %}
<div class="justify-content-center">
    <div class="flex-column">
        <div class="d-flex justify-content-center thumbnail">
            <img class="d-flex clubImage" src="{{club.club_thumbnail}}" alt="{{club.name}}">
        </div>
        <div class="padding d-flex">
            <div class="detail">
                <div>
                    <div class="d-flex justify-content-center clubfirst">
                        <div class="flex-column">
                            <h1 class="clubname">{{club.name}}</h1>
                            <h2 class="clubmaster">동아리장 : {{club.club_master}}</h2>
                        </div>
                    </div>
                    <div class="clubdetail">
                        <div class='descriptionbox'>
                            <pre class="description">{{club.description}}</pre>
                        </div>

                        <div class="d-flex flex-wrap justify-content-between clubsecond">
                            <div class="ma d-flex p-2 minbox flex-column">
                                <div class="p-2 justify-content-center">
                                    <h4 class="detailsecond">분야</h4>
                                    <h4 class="mintext">{{club.category}}</h4>
                                </div>
                            </div>
                            
                            <div class="ma d-flex p-2 minbox flex-column">
                                <div class="p-2 justify-content-center">
                                    <h4 class="detailsecond">구분</h4>
                                    {% if club.isofficial %} <h4 class="mintext">창체 동아리</h2>
                                    {% else %} <h4 class="mintext">자율 동아리</h2>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="ma d-flex p-2 minbox flex-column">
                                <div class="p-2 justify-content-center">
                                    <h4 class="detailsecond">현재 인원</h4>
                                    <h4 class="mintext">{{club.member}}</h2>
                                </div>
                            </div>
                            
                            <div class="ma d-flex p-2 minbox flex-column">
                                <div class="p-2 justify-content-center">
                                    <h4 class="detailsecond">지도교사</h4>
                                    <h4 class="mintext">{{club.club_teacher}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="memberlist">
                            <h4 class="">동아리원 목록</h4>
                            <div class="">
                                {% if member_list %}
                                    <ul class="d-flex flex-wrap">
                                        {% for member in member_list %}
                                            <li class="membername">
                                                <a class="userlink" href="/user/{{member.django_user.id}}">{{member.number}} {{member.name}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <h2>동아리원이 없습니다</h2>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
</div>
{% else %}
    <h1>동아리 상세 정보 로딩에 실패했습니다.</h1>
{% endif %}
{% endblock content %}
