{% extends 'base.html' %}
{% load static %}
{% block style %}
{{ block.super }} <link rel="stylesheet" type="text/css" href="{% static 'css/club_list.css' %}">
{% endblock style %}
{% block title %}동아리 목록{% endblock title %}
{% block content %}
<div class="d-flex flex-column center justify-content-center">
    <div class="title">
        <h1>동아리 목록</h1>
    </div>
    <div class="d-flex clubs">
        <ul class="d-flex wrap justify-content-center">
            <li>
                <div class="club d-flex">
                    <img src="https://image.ajunews.com/content/image/2020/12/09/20201209180648329038.jpg" alt="AI" class="clubImage">
                </div>
            </li>
            <li>
                <div class="club d-flex">
                    <img src="https://cdn.codingworldnews.com/news/photo/201906/img_1132_0.png" alt="프로그래밍" class="clubImage">
                </div>
            </li>
            <li>
                <div class="club d-flex">
                    <img src="https://pbs.twimg.com/profile_images/1330860002605748231/KOnuvGCq_400x400.jpg" alt="MAKERS" class="clubImage">
                </div>
            </li>
            <li>
                <div class="club d-flex">
                    <img src="https://pbs.twimg.com/profile_images/1330860002605748231/KOnuvGCq_400x400.jpg" alt="MAKERS" class="clubImage">
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}