{% extends 'base.html' %}
{% load static %}
{% load post_filter %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script>
    function like(i) {
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url:'/post/like',
            type:'POST',
            data: {
                {% if post.club %}
                posttype: "post",
                {% else %}
                posttype: "notice",
                {% endif %}
                postid: {{post.id}},
                like: i,
            },
            dataType:'json',
            success:function(response) {
                console.log(response);
                if(response.result == 'success') {
                    likenum = document.getElementById('likenum');
                    if(i) {
                        likenum.innerHTML = String(response.like);
                        if(response.change == 'append') {
                            $('#likebtn').css('display', 'none');
                            $('#likecancelbtn').css('display', 'inline-block');
                            $('#dislikebtn').css('display', 'inline-block');
                            $('#dislikecancelbtn').css('display', 'none');
                        } else {
                            $('#likebtn').css('display', 'inline-block');
                            $('#likecancelbtn').css('display', 'none');
                            $('#dislikebtn').css('display', 'inline-block');
                            $('#dislikecancelbtn').css('display', 'none');
                        }
                    } else {
                        likenum.innerHTML = String(response.like);
                        if(response.change == 'append') {
                            $('#likebtn').css('display', 'inline-block');
                            $('#likecancelbtn').css('display', 'none');
                            $('#dislikebtn').css('display', 'none');
                            $('#dislikecancelbtn').css('display', 'inline-block');
                        } else {
                            $('#likebtn').css('display', 'inline-block');
                            $('#likecancelbtn').css('display', 'none');
                            $('#dislikebtn').css('display', 'inline-block');
                            $('#dislikecancelbtn').css('display', 'none');
                        }
                    }
                } else {
                    alert("로그인 되어 있지 않습니다.");
                    return;
                }
            },
            error:function(xhr, error) {
                alert("통신 오류입니다.");
                return;
            }
        });
    }
</script>
{% endblock style %}
{% block title %}{{post.title}}{% endblock title %}
{% block content %}
    <div class="contents">
        <div class="info">
            <h6 class="title">{{post.title}}</h6>
            <div class="d-flex justify-content-between infos">
                <div class="infofirst d-flex">
                    <p class="infodetail author">{{post.author}}</p>
                    <p class="infodetail notmobile">{{post.create_date}}</p>
                </div>
                <div class="infosecond d-flex">
                    <p class="infodetail views">조회 {{post.views}}</p>
                    <p class="infodetail">추천 {{post.like}}</p>
                </div>
            </div>
        </div>
        <div class="description">
            {{post.description|mark}}
        </div>
        {% if user.is_authenticated %}
        <div class="addition">
            {% if like != 1 %}
                <button id="likebtn" class="btn likebtn" onclick="like(true)"><i class="fas fa-lg fa-caret-up"></i></button>
                <button id="likecancelbtn" class="btn likecancelbtn" onclick="like(true)" 
                style="display:none"><i class="fas fa-lg fa-caret-up"></i></button>
            {% else %}
                <button id="likebtn" class="btn likebtn" onclick="like(true)" 
                style="display:none"><i class="fas fa-lg fa-caret-up"></i></button>
                <button id="likecancelbtn" class="btn likecancelbtn" onclick="like(true)"><i class="fas fa-lg fa-caret-up"></i></button>
            {% endif %}
            <p id="likenum" class="likenum">{{post.like}}</p>
            {% if like != -1 %}
                <button id="dislikebtn" class="btn dislikebtn" onclick="like(false)"><i class="fas fa-lg fa-caret-down"></i></button>
                <button id="dislikecancelbtn" class="btn dislikecancelbtn" 
                style="display:none" onclick="like(false)"><i class="fas fa-lg fa-caret-down"></i></button>
            {% else %}
                <button id="dislikebtn" class="btn dislikebtn" 
                style="display:none" onclick="like(false)"><i class="fas fa-lg fa-caret-down"></i></button>
                <button id="dislikecancelbtn" class="btn dislikecancelbtn" onclick="like(false)"><i class="fas fa-lg fa-caret-down"></i></button>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock content %}