.userdata {
    max-width : 980px;
    width : 80%;
}

.first {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 1.2em;
    border-color: transparent;
    box-shadow: 1em 1em 1em -0.9em black;
}

.second {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 1.2em;
    border-color: transparent;
    box-shadow: 1em 1em 1em -0.9em black;
}

.name>h2 {
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    word-break: keep-all;
}

.profile_message {
    font-size : 1em;
    margin: 1em;
    padding: 1em;
    background-color : #e5e5e5;
    word-break: keep-all;
    text-align: center;
}

.interested {
    font-size: 1.2em;
    margin-left: 1em;
}

.description {
    margin: 1em;
}

.last_date {
    margin-top: auto;
}