.userdata {
    max-width : 980px;
    min-width : 320px;
    width : 80%;
}

.first {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.name>h2 {
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile_message {
    font-size : 1em
}

.last_date {
    margin-top: auto;
}

.underborder {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}