.img {
    background-size: cover;
}

.thumbnail {
    padding-top:3em;
    z-index: 1;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.clubImage {
    z-index: 1;
    width: 80%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 2em;
    border-color: transparent;
    box-shadow: 1em 1em 1em -0.9em black;
}

.detail {
    width: 80%;
    margin-top: 30px;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    border-radius: 2em;
    border-color: transparent;
    box-shadow: 1em 1em 1em -0.9em black;
    z-index: 1;
}

.padding {
    padding-bottom: 3em;
}

.clubfirst {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #535353;
}

.clubname {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-family: 'Do Hyeon';
    color: #535353;
    vertical-align: middle;
    margin: 0;
}

.clubmaster {
    width: 100%;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Nanum Gothic';
    color: #535353;
    vertical-align: middle;
}

@media (max-width: 360px) {
    .clubmaster {
        width: 100%;
        font-weight: 600;
        text-align: center;
        font-size: 1.2rem;
        font-family: 'Nanum Gothic';
        color: #535353;
        vertical-align: middle;
    }
}

.descriptionbox {
    margin: 1em;
    margin-bottom: 0;
    background-color: #e5e5e5;
    padding: 1em;
}

.description {
    font-family: "Nanum Gothic";
    white-space: pre-wrap;
    margin: 0;
    text-align: center;
    word-break: keep-all;
}

.clubsecond {
    padding: 1em;
    padding-bottom: 0;
}

.justify-content-center>h4 {
    text-align: center;
    margin: 0;
}

.detailsecond {
    font-weight: bold;
    padding-bottom: 0.3em;
}

.mintext {
    min-width: min-content;
    font-size: 1.3em;
}

.ma {
    margin-left: auto;
    margin-right: auto;
}

.memberlist {
    padding: 1em;
}

.membername {
    width: 140px;
    margin-right: 2em;
}

.userlink {
    text-decoration: none;
    color: black;
}

.userlink:hover {
    color: blue;
    text-decoration: none;
}